# Secrets
.env
*.env
*.pem
*.pub
*.key

# Maven
target/
build/
bin/
out/
pom.xml.tag
release.properties
*.jar
*.war

# IDE
.vscode/
.idea/
*.iml
.eclipse/
.classpath
.project
.settings/

# OS
.DS_Store
Thumbs.db

# Logs
*.log
logs/